.chart {
	display: none !important;
}

p.key {
	margin: 0;
	padding: 3px;

	&.item0 {
		background-color: #6CD5FF;
	}

	&.item1 {
		background-color: #6EE862;
	}

	&.item2 {
		background-color: #FFE078;
	}

	&.item3 {
		background-color: #E87662;
	}

	&.item4 {
		background-color: #BB78FF;
	}

	&.item5 {
		background-color: #512DFF;
		color: #fff;
	}

	&.item6 {
		background-color: #46E8BA;
	}

	&.item7 {
		background-color: #E2FF59;
	}

	&.item8 {
		background-color: #E89F46;
	}

	&.item9 {
		background-color: #FF59B8;
	}	
}